<div class="outer">
    <div class="middle">
      <div class="inner">
        <h1>
          Witaj w panelu użytkownika.
        </h1>
        <p>
          Żarządzaj swoimi ankietami z tego miejsca.
        </p>
        <p>
          Przejdz do zakładki Stworz Ankiete aby utworzyć swoja pierwsza ankiete.
        </p>
        <p>
          W zakładce Twoje Ankiety zarządzaj swoimy ankietami. Poznaj ich wyniki, genereruj raporty , udąstepniaj swoje ankiety i wiele wiecej.
        </p>
      </div>
    </div>
</div>
