<div class="outer">
    <div class="middle">
      <div class="inner">
        <ng-container *ngIf="!isSent">
          <h4>Podaj adres email na ktory ma zostać wysłany link potwierdzjacy.</h4>
              <form [formGroup]="confirmForm" (ngSubmit)="sendLink()">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="text" required name="email" class="form-control" placeholder="Podaj adres email" formControlName = "email">
                  <small *ngIf="email.hasError('required') && email.touched" class="text-danger"> Podaj adres email. </small>
                  <small *ngIf="email.hasError('email') && email.touched" class="text-danger"> Podaj poprawny adres email. </small>
                </div>
                <div class="form-group">
                  <button id="send" type="submit" class="btn btn-primary" [disabled]="confirmForm.invalid || isRequesting">Wyslil</button>
              </div>
              <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops coś poszło nie tak!!</strong> {{errors}}
              </div>
              </form>
            </ng-container>
            <ng-container *ngIf="isSent">
              <p>
                Wysłano link potwierdzajacy na wskazany adres sprawdz swoja skrzynke pocztowa!
              </p>
            </ng-container>
      </div>
   </div>
</div>
