<footer class="footer">
  <div class="container">
    <span>
        ©2018 Krzysztof Jezierski Projekt Pracy Inżynierskiej.
    </span>
    <span>
      <a data-toggle="modal" data-target="#autor" class="nav-link">Autor</a>
    </span>
    <span>
        <a data-toggle="modal" data-target="#contact" class="nav-link">Kontakt</a>
    </span>
  </div>
</footer>

<!-- Modal o autorze-->
<div class="modal fade" id="autor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Autor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Autorem tego projektu jest Krzysztof Jezierski.
            Student IV roku Informatyki na UKW.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal kontakt-->
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Kontakt</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Tutaj można umieścić dane kontaktowe.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
