<div class="outer">
    <div class="middle">
      <div class="inner">
          <h2>Zmień swoje hasło.</h2>
            <form id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
                <mat-form-field>
                  <input matInput placeholder="Podaj nowe hasło" formControlName="newPassword" required type="password">
                  <mat-error *ngIf="newPassword.hasError('required') && newPassword.touched ">
                      Pole nie może być puste.
                    </mat-error>
                    <mat-error *ngIf="newPassword.hasError('minlength') && newPassword.touched ">
                       Minimalna długość hasła wynosi {{passwordMinSize}} znaków.
                     </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Potwierdz nowe hasło" formControlName="matchNewPassword" [errorStateMatcher]="matcher" type="password">
                    <mat-error *ngIf="changePasswordForm.hasError('mismatch')">
                    Hasła nie są sobie równe.
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Podaj obecne hasło" formControlName="oldPassword" required type="password">
                    <mat-error *ngIf="oldPassword.hasError('required') && oldPassword.touched ">
                        Pole nie może być puste.
                      </mat-error>
                      <mat-error *ngIf="oldPassword.hasError('minlength') &&oldPassword.touched ">
                         Minimalna długość hasła wynosi {{passwordMinSize}} znaków.
                       </mat-error>
                  </mat-form-field>
                  <mat-error *ngIf="errors">
                      {{errors}}
                  </mat-error>
                  <button mat-raised-button type="submit" [disabled]="changePasswordForm.invalid || isRequesting">Zmień hasło</button>
              </form>
      </div>
    </div>
</div>
