<div class="row">
  <div class="col-md-6">
    <ng-container *ngIf="!isReseted">
      <h2>Zresetuj swoje hasło.</h2>
        <form #f="ngForm" (ngSubmit)="reset(f)">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="text" required name="email" class="form-control" placeholder="Email" [ngModel]="resetPassword.email" #email="ngModel" tmFocus validateEmail>
              <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Podaj poprawny email</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" required name="password" placeholder="Password" ngModel>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Resetuj</button>
            </div>

            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops coś poszło nie tak!!</strong> {{errors}}
              </div>
          </form>
        </ng-container>
        <ng-container *ngIf="isReseted">
          <p>
            Hasło zostało zresetowane. Zaloguj się do swojego konta!
          </p>
        </ng-container>
   </div>
</div>
