.doughnut-chart
{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.doughnut-chart h4
{
  text-align: center;
  border-bottom: 3px;
  padding-bottom: 15px;
  border-bottom-color: #008CBA;
  border-bottom-style: outset;
  margin-bottom: 15px;
}

#legend
{
  margin-bottom: 25px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
