<div class="row">
    <div class="col-sm-2">
      <div class="sidenav">
        <a class="nav-link" routerLinkActive="active" routerLink="/settings/password">Zmien hasło</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/settings/email">Zmien adres email</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/settings/delete">Usuń swoje konto</a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
