<div class="outer">
    <div class="middle">
      <div class="inner">
          <ng-container *ngIf="!isRegistered">
              <h2>Zajerestruj się w serwisie.</h2>
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input id="email" type="text" required name="email" class="form-control" placeholder="Podaj adre email" formControlName="email">
                          <small *ngIf="email.hasError('email') && email.touched" class="text-danger">Podaj poprawny adres email.</small>
                          <small *ngIf="email.hasError('required') && email.touched" class="text-danger">Podaj adres email.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło</label>
                            <input id="password" type="password" required name="password" class="form-control" placeholder="Podaj hasło" formControlName="password">
                            <small *ngIf="password.hasError('required') && password.touched" class="text-danger">Podaj hasło.</small>
                            <small *ngIf="password.hasError('minlength') && password.touched" class="text-danger">Hasło jest zbyt krotkie.</small>
                        </div>
                        <div class="form-group">
                            <label for="passwordMatch">Potwierdz hasło.</label>
                            <input id="passwordMatch" type="password" required name="password" class="form-control" placeholder="Podaj hasło" formControlName="passwordMatch">
                            <small *ngIf="passwordMatch.hasError('required') && passwordMatch.touched" class="text-danger">Powtorz hasło.</small>
                            <small *ngIf="registerForm.hasError('mismatch') && passwordMatch.touched" class="text-danger">Hasła do siebie nie pasuja.</small>
                        </div>
                        <div class="form-group">
                            <button id="register" type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || isRequesting">Rejestruj</button>
                            <br style="clear:both" />
                        </div>
                        <div *ngIf="errors" class="alert alert-danger" role="alert">
                          <strong>Oops coś poszło nie tak!!</strong> {{errors}}
                        </div>
                  </form>
          </ng-container>
          <ng-container *ngIf="isRegistered">
            <p>
              Twoje konto zostało utworzone. Na twój adres email został wysłany link aktywacyjny twojego konta!
            </p>
          </ng-container>
      </div>
  </div>
</div>
